### Common.
/.cache/
/reports/

### Composer.
/vendor/
/pamald-robo-pamald-npm-*.tar
/pamald-robo-pamald-npm-*.tar.bz2
/pamald-robo-pamald-npm-*.tar.gz
/pamald-robo-pamald-npm-*.zip

### Composer Suite.
/.composer-suite/
/composer.local.json
/composer.local.lock

### PHPUnit.
/phpunit.xml

### PHP Code Sniffer.
/phpcs.xml

### PHPStan.
/tests/src/Phpstan.php
/phpstan.neon

### Robo.
/robo.yml

### sweetchuck/git-hooks.
/.git-hooks.local
